<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.hwyz.iov.idcm.launcher"
    android:sharedUserId="android.uid.system"
    android:sharedUserMaxSdkVersion="32"
    tools:targetApi="tiramisu">

    <!-- 大致位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 分屏显示 -->
    <uses-permission
        android:name="android.permission.ACTIVITY_EMBEDDING"
        tools:ignore="ProtectedPermissions" />
    <!-- 绑定应用小部件 -->
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <!-- 连接蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 发现及配对蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 连接已配对蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- 扫描蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- 变更网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 变更WIFI状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Dump权限 -->
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <!-- 创建前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 事件注入 -->
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <!-- 多用户交互 -->
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <!-- 系统级窗口 -->
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <!-- 访问互联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 管理Activity -->
    <uses-permission
        android:name="android.permission.MANAGE_ACTIVITY_STACKS"
        tools:ignore="ProtectedPermissions" />
    <!-- 用户管理 -->
    <uses-permission
        android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <!-- 应用统计 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 查询安装应用 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取更敏感和详细的电话状态信息 -->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <!-- 录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 应用前后台切换 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 修改系统设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 访问车辆动力系统信息 -->
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <!-- 控制车载音频 -->
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|uiMode|mcc|mnc|touchscreen"
            android:directBootAware="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>